<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AranaStorage.Properties.Settings.arana_stockConnectionString"
            connectionString="Data Source=arana-tech.database.windows.net;Initial Catalog=arana-stock;Persist Security Info=True;User ID=AranaTech;Password=Arana123!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>